body{
    margin: auto;
    width: 98%;
}
.bb{
    margin: auto;
    height: 180px;
    background-color:whitesmoke;
    display: flex;
    margin: 5px;
    color: aliceblue;
    font-size: 30px;
}


.big1{
    height: 180px;
    width: 33.33%;
    background-color:chocolate;
    margin: 3px;
    border-radius: 5px;
    display: flex;
}
.sm{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}
.smm{
    height: 40px;
    width: 145px;
    background-color: lightgoldenrodyellow;
    margin: 3px;
    color: chocolate;
    border-radius: 5px;
}
.mm1{
    width: 140px;
}
.mm2{
    width: 140px;
}
.mm3{
    width: 140px;
}
.mm4{
    width: 103px;
}
.mm5{
    width: 103px;
}
.mm6{
    width: 103px;
}
.mm7{
    width: 103px;
}
.mm8{
    width: 80px;
}.mm9{
    width: 80px;
}.mm10{
    width: 80px;
}.mm11{
    width: 80px;
}.mm12{
    width: 80px;
}
.big2{
    height: 180px;
    width: 33.33%;
    background-color: chocolate;
    margin: 3px;
    border-radius: 5px;

}
.big3{
    height: 180px;
    width: 33.33%;
    background-color: chocolate;
    margin: 3px;
    border-radius: 5px;

}
.bb2{
    color: white;
    display: flex;


}
.s1{
    
    background-color: chocolate;
    margin: 3px;
    border-radius: 5px;
    font-size: 25px;

}
.f1{
    height: 40px;
    width: 25%;

}
.f2{
    height: 40px;
    width: 25%;
}
.f3{
    height: 40px;
    width: 25%;
}
.f4{
    height: 40px;
    width: 25%;
}


.last{
    display: flex;
    

}
.ll{
    
    font-size: 25px;
    border-radius: 5px;
    margin: 3px;
    background-color: chocolate;
    color: white;

}
.l1{
    height: 40px;
    width: 25%;

}
.l2{
    height: 40px;
    width: 25%;

}
.l3{
    height: 40px;
    width: 25%;

}
.l4{
    height: 40px;
    width: 25%;

}
.l5{
    height: 40px;
    width: 25%;

}